$white: #fff;
$black: #000;

$blue-grey: #7e8ba0;
$orange: #ffbe61;
$dark-orange: #ed8c00;

// Customized bootstrap variables
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

