.loading-wrapper {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  opacity: 0.8; }

.loading-container {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 45%;
  right: 0;
  margin: auto; }

.loading-image {
  height: 150px;
  width: 150px;
  opacity: 0.6; }
